#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
}

.App {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    grid-gap: 2px;
    border: 2px solid #000;
    width: 320px;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    background-color: #1e90ff;
    cursor: pointer;
}

.separator {
    width: 50px;
}

.message {
    margin: 1rem;
}
button {
    margin-bottom: 1rem;
}

.player-board  .ship {
    background-color:#f6f610;
}

.computer-board .miss {
    background-color: #f0f0f0;
}

.computer-board .hit {
    background-color: #ff0000;
}

.toast-message {
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    text-align: center;
}

.toast {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
}

.letters-row {
    display: flex;
    gap: 2px;
}

.letters-row p {
    width: 30px;
}

.player-numbers-column, .computer-numbers-column {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 2px;
    align-self: flex-start;
}
.player-numbers-column {
    top: 250px;
}

.computer-numbers-column {
    bottom: -140px;
}

.player-numbers-column p {
    height: 30px;
    margin: 0;
}

.computer-numbers-column p {
    height: 30px;
    margin: 0;
}

@media (max-width: 800px) {
    .separator {
        height: 2rem;
    }
    .player-numbers-column {
        top: 305px;
    }

    .computer-numbers-column {
        bottom: -255px;
    }
}